/* 画面幅が600px以下（スマホ）の場合 */
/* @media (max-width: 600px) {
  .container {
    padding: 108px;
  }
} */

/* @media screen and (max-width: 600px) {
  .side-menu {
    display: none !important;
  }
} */

.el-drawer__body {
  padding: 0px !important;
}

@media screen and (min-width: 600px) {
  .sub-nav {
    display: none !important;
  }
}

.sub-nav {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 1px solid #c5c0c0;

  padding: 6px 10px;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: #30343d; */
  /* padding: 20px 40px; */
}

/* text */
.text-primary {
  /* color: #ff6a00 !important; */
}

.large-text {
  font-size: 32px !important;
}

.title {
  font-size: 32px !important;
  margin-bottom: 20px !important;
}

.sub-title {
  font-size: 24px !important;
  margin-bottom: 10px !important;
}

/* icon button */

.main-icon-button {
  border-color: #ff8e3c !important;
  color: #ff6a00 !important;
  --el-button-hover-bg-color: #f7ece7 !important;
}

.sub-icon-button {
  border-color: #3daeff !important;
  color: #0095ff !important;
}

.normal-icon-button {
  border-color: #6a6c70 !important;
  color: #6a6c70 !important;
  --el-button-hover-bg-color: #edf1fa !important;
}

/* button */
.main-button {
  --el-button-text-color: var(--el-color-white) !important;
  --el-button-hover-text-color: var(--el-color-white) !important;
}
